NEXT_PUBLIC_SUPABASE_URL=https://aeqddpeyyrzzvkwowjpi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlcWRkcGV5eXJ6enZrd293anBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4MjE1OTQsImV4cCI6MjA3NTM5NzU5NH0.huMW_nh39hO3qJJ2BE3yKjGPi1gkUpwljlC4YyP430o
