SUPABASE_URL=https://aeqddpeyyrzzvkwowjpi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlcWRkcGV5eXJ6enZrd293anBpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTgyMTU5NCwiZXhwIjoyMDc1Mzk3NTk0fQ.cgCmKgtF-WDOvlX_xDGUCIx65GrGcXQ4wSU8Yykbo-8
PORT=4000
